<div class="page-header">
  <%= link_to 'New Task', new_project_task_path(@project), :class => "btn btn-info pull-right" %>
  <h1>Tasks for <%= @project.name %></h1>
</div>

<ol class="breadcrumb">
  <li><a href="/projects">Projects</a></li>
  <li><%= link_to @project.name, project_path(@project) %></li>
  <li class="active"><%= @project.name %>'s Tasks</li>
</ol>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Description</th>
      <th>Complete</th>
      <th>Due On</th>
    </tr>
  </thead>

  <tbody>
    <% @project.tasks.each do |task| %>
    <tr>
      <td><%= task.description %></td>
      <td><%= task.complete %></td>
      <td><%= task.date %></td>
      <td><div class="text-right"><%= link_to 'Edit', edit_project_task_path(@project, task), :class => "btn btn-info" %>
        <%= link_to 'Delete', project_task_path(@project, task), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %></div></td>
      </tr>
      <% end %>
    </tbody>
  </table>
