<div class="page-header">
  <div class="pull-right">
    <% if current_user == @user || current_user.admin? %>
      <%= link_to 'Edit', edit_user_path, :class => "btn btn-info" %>
    <% end %>
  </div>
  <h1><%= @user.full_name %></h1>
</div>

<dl class="dl-horizontal">
  <p><dt>First name</dt>
    <dd><%= @user.first_name %></dd></p>
  <p><dt>Last name</dt>
    <dd><%= @user.last_name %></dd></p>
  <% if current_user == @user || current_user.admin? %>
  <p><dt>Email</dt>
    <dd><%= @user.email %></dd></p>
  <% end %>
</dl>
