<div class="page-header">
  <%= link_to 'Create Project', new_project_path, :class => "btn btn-info pull-right" %>
  <h1>Projects</h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Name</th>
      <th>Tasks</th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
    <tr>
      <td><%= link_to project.name, project_path(project) %></td>
      <td><%= link_to "#{project.tasks.length}", project_tasks_path(project) %></td>
      <td>
        <div class="text-right">
          <%= link_to 'Edit', edit_project_path(project), :class => "btn btn-info" %>
          <%= link_to 'Delete', project, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %>
        </div>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
