<div class="page-header">
  <% if current_user.project_owner?(@project) %>
    <div class="pull-right">
      <%= link_to 'Edit', edit_project_path, :class => "btn btn-info" %>
    </div>
  <% end %>
  <h1><%= @project.name %></h1>
</div>

<ol class="breadcrumb">
  <li><a href="/projects">Projects</a></li>
  <li class="active"><%= @project.name %></li>
</ol>

<p><%= link_to @project.num_tasks, project_tasks_path(@project) %>
<p><%= link_to @project.num_memberships, project_memberships_path(@project) %>

<% if current_user.project_owner?(@project) %>
  <div class="well">
    <h3>Delete</h3>
    <p>Deleting this project will also delete <%= @project.num_memberships.downcase %>, <%= @project.num_tasks.downcase %> and associated comments.</p>
    <%= link_to 'Delete', @project, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %>
  </div>
<% end %>
