<div class="page-header">
  <id="top"><h1>Frequently Asked Questions</h1>
</div>

<ul>
  <% @questions.each do |x| %>
    <li><%= link_to x.question, "#" + x.slug %></li>
  <% end %>
</ul>

<div class="row">
  <div class="col-md-6">
    <% @questions.each do |x| %>
      <p id="<%= x.slug %>"><b><%= x.question %></b></p>
      <p><%= x.answer %></p>
      <p><u><%= link_to "top", "#top" %></u></p>
    <% end %>
  </div>
</div>
